* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}
a{
	display:block;
	text-decoration: none;
}
.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: var(--headingColor);
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.6s ease;
	&.animationClass{
		animation: hide 2s linear 5s 1 forwards;
		
	}
	
	
	
	
	
	@keyframes hide {
		to{
			left:-50%;
			
		}
	}
	
	.logo-details {
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;
		.icon {
			opacity: 0;
			transition: all 0.5s ease;
		}
		.logo_name {
			color: var(--boxColor);
			font-size: 20px;
			font-weight: 600;
			opacity: 0;
			transition: all 0.5s ease;
		}
		.closeBtn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 22px;
			transition: all 0.4s ease;
			font-size: 23px;
			text-align: center;
			cursor: pointer;
			transition: all 0.5s ease;
		}
	}
	i {
		color: var(--boxColor);
		height: 60px;
		min-width: 50px;
		font-size: 28px;
		text-align: center;
		line-height: 60px;
	}
	.nav-list {
		margin-top: 20px;
		height: 100%;
	}
	li {
		position: relative;
		margin: 8px 0;
		list-style: none;
		.bx{
			font-size: 35px;
		}
		.tooltip {
			position: absolute;
			top: -20px;
			left: calc(100% + 15px);
			z-index: 3;
			background: #fff;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
			padding: 10px 15px;
			border-radius: 4px;
			font-size: 15px;
			font-weight: 400;
			opacity: 0;
			pointer-events: none;
			transition: 0s;
			color: var(--headingColor);
			
		}
		&:hover {
			.tooltip {
				opacity: 1;
				pointer-events: auto;
				transition: all 0.4s ease;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.link {
			display: flex;
			height: 100%;
			width: 100%;
			border-radius: 12px;
			align-items: center;
			text-decoration: none;
			transition: all 0.4s ease;
			background: var(--headingColor);
			.Meet{
				transform:rotate(180deg)
			}
			&:hover {
				background: var(--boxColor);
				.Meet{
                  transform:rotate(-180deg);
				  transition: all 0.7s ease;
				  
				}
				.links_name {
					transition: all 0.5s ease;
					color: var(--headingColor);
				}
				i {
					transition: all 0.5s ease;
					color: #11101D;
				}
			}
			.links_name {
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
			}
		}
		i {
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			border-radius: 12px;
		}
		.profile-details {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
		}
		img {
			height: 45px;
			width: 45px;
			object-fit: cover;
			border-radius: 6px;
			margin-right: 10px;
		}
	}
	input {
		font-size: 15px;
		color: #FFF;
		font-weight: 400;
		outline: none;
		height: 50px;
		width: 100%;
		width: 50px;
		border: none;
		border-radius: 12px;
		transition: all 0.5s ease;
		background: #1d1b31;
	}
	.bx-search {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-size: 22px !important;
		background: #1d1b31;
		color: var(--boxColor);
		&:hover {
			background: var(--boxColor);
			color: var(--headingColor);
		}
	}
	li.profile {
		position: fixed;
		height: 60px;
		width: 78px;
		left: 0;
		bottom: -8px;
		padding: 10px 14px;
		background: #1d1b31;
		transition: all 0.5s ease;
		overflow: hidden;
		i{
			font-size: 25px;
		}
		.name {
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 3px;
			color: #fff;
			white-space: nowrap;
		}
		.job {
			font-size: 15px;
			letter-spacing: 3px;
			font-weight: 400;
			color: #fff;
			white-space: nowrap;
			font-size: 12px;
		}
	}
	.profile {
		#log_out {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: #1d1b31;
			width: 100%;
			height: 60px;
			line-height: 60px;
			border-radius: 0px;
			transition: all 0.5s ease;
		}
	}
}
.sidebar.open {
	width: 250px;
	.logo-details {
		.icon {
			opacity: 1;
		}
		.logo_name {
			opacity: 1;
		}
		.closeBtn {
			text-align: right;
		}
	}
	li {
		.tooltip {
			display: none;
		}
		span{
			.links_name {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	input {
		padding: 0 20px 0 50px;
		width: 100%;
	}
	.bx-search {
		&:hover {
			background: #1d1b31;
			color: #FFF;
		}
	}
	li.profile {
		width: 250px;
	}
	.profile {
		#log_out {
			width: 50px;
			background: none;
		}
	}
	~ {
		.home-section {
			left: 250px;
			width: calc(100% - 250px);
		}
	}
}

