.container {
    width: 70%;
    margin:0 auto;
	 
	.box{
        width: 40%;
        padding:10px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;  
        box-shadow: 1px 1px 40px var(--headingColor); 
        border-radius:5px; 
        
        .title{
            font-size:20px;
            color:var(--headingColor);
            font-weight: 500;
            letter-spacing: 1.5px;
        }
        img{
            padding: 20px;
           width:100%;
           
        }
        .summary{
            font-size:15px;
            font-weight: bold;
            letter-spacing: .2em;
            text-align: center;
        }
    }
}