form {
.formTitle{
    font-size: 25px;
    font-weight:600;
    letter-spacing: 3px;
}
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
        width: 100%;
        margin: 1rem auto;

        label {
            width: 100%;
            font-size: 18px;
            text-align: center;
            letter-spacing: 5px;
        }

        input {
            font-weight: 700;
            letter-spacing: 1.5px;
            text-transform:capitalize ;
            padding: 1rem;
            width: 100%;
            border: 1px solid var(--headingColor);
            box-shadow: 2px 5px 5px var(--boxColor);
            font-size: 15px;
            outline: none;
            border-radius: 7px;
        }
    }

    .imageLink {
        margin: 1rem auto;
        width: 100%;

        label {
            width: 100%;
            font-size: 18px;
            text-align: center;
            letter-spacing: 5px;
        }

        input {
            font-weight: 700;
            letter-spacing: 1.5px;
            text-transform:capitalize ;
            padding: 1rem;
            width: 100%;
            border: 1px solid var(--headingColor);
            box-shadow: 2px 5px 5px var(--boxColor);
            font-size: 15px;
            outline: none;
            border-radius: 7px;
        }
    }

    .image {
        margin: 1rem auto;
        width: 100%;

        label {
            width: 100%;
            font-size: 18px;
            text-align: center;
            letter-spacing: 5px;
        }

        input {
            font-weight: 700;
            letter-spacing: 1.5px;
            text-transform:capitalize ;
            padding: 1rem;
            width: 100%;
            border: 1px solid var(--headingColor);
            box-shadow: 2px 5px 5px var(--boxColor);
            font-size: 15px;
            outline: none;
            border-radius: 7px;
        }
    }

    .summary {
        margin: 1rem auto;
        width: 100%;

        label {
            width: 100%;
            font-size: 18px;
            text-align: center;
            letter-spacing: 5px;
        }

        textarea {
            font-weight: 700;
            letter-spacing: 1.5px;
            text-transform:capitalize ;
            padding: 1rem;
            width: 100%;
            border: 1px solid var(--headingColor);
            box-shadow: 2px 5px 5px var(--boxColor);
            font-size: 15px;
            outline: none;
            border-radius: 7px;
        }

    }

    .submit {
        width: 20%;
        font-size: 15px;
        margin-left: auto;
        border-radius: 7px;
        background: var(--headingColor);
        color: var(--boxColor);
        padding: 15px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}